
.nav-footer{
  background-color: #544154;
  color: white;
}

.nav-footer a {
    color: white;
}

.nav-page-previous,
.nav-page-next {
  padding: .5rem;
  border: 1px solid #eee;
  border-radius: .2rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.footer {
  margin-top: 10px;
}

.nav-page a {
    color: #544154;
}

.nav-page a:hover {
    color: #544154;
}

#quarto-sidebar{
  top: 0px;
  max-height: calc(0px + 100vh);
  padding-left: 0;
}

.sidebar-navigation li a {
  color: #544154;
}

.sidebar-navigation li a:hover {
  color: #544154;
}

.sidebar-item .chapter-number {
    color: #544154;
}

.sidebar-title {
  color: #544154;
}

.sidebar nav[role=doc-toc]>ul li a {
    line-height: 1.1rem;
    padding-bottom: .2rem;
    padding-top: .2rem;
    color: #544154;
}

.action-links p {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.action-links p a {
    color: #544154;
}

.action-links p a:hover {
    color: #544154;
}

.toc-actions div i {
  color: #544154;
}
